/*********************************
	File:  d:\users\mdc\documents\websites\trainning-site.dev.cc\app\assets\styles\modules\_primary-nav.css
	Description: This is the class for our navigation bar, which is the pattern of a
				horizontal list of links. And since we think is all a pattern of its own,
				we deviatge from BEM naming and place all the formatting here.

				Our design goals for small screens are:
					Place the nave menu in a menu button that shows as teh 3 bar menus
					Shrink the logo
					Place the get in touch button below the icon
					Remove the blue bar background
			These changes will need to appear here and the in the site-header css file.
/*********************************/
.primary-nav {

	/* For the small screens, place a bit of padding between the GetInTouch button and
			the navigation list. Undo that for medium screems
	*/
	padding-top: 10px;

	@mixin atMedium {
		padding-top: 0;
	}


	&--pull-right {
		/* float right only for medium and larger screens */
		@mixin atMedium {
			float: right;
		}
	}

	/*
		We believe this pattern of a horizontal list of link to be generic, so we do not
		build classes for each element of the menu (ul, li, a, href, etc.) Instead evcerything
		is right here. So the usage will be to include a simple list within a primary-nav div.

		Following, we set up the list
	*/

	/* All ul's within our class will have no maring, padding. */
	ul {
		margin: 0;
		padding: 0;

		/* This says after the ul, stop floating */
		@mixin clearfix;
	}

	/* Similarly, all list items should be unadorned. Further they too should float
		right. And since we're floating we need to tell the parent to stop floating
		when he's done. But for small screens, we want the just want the li items to
		be on a single line
	*/
	li {
		list-style: none;
		display: inline-block;
		padding-right: 7px;

		@mixin atMedium {
			padding-right: 20px;
			float: left;
			display: block;
		}




		/* Adjust padding to get links to verticaly center in area */
		/* NOTE: Schiff places this tag in the a element below, but that does not seem to work for me.
				Also, Schiff used padding-top of 12, thjat is too much for me. */
		padding-top: 5px;
	}

	/* for the last item in our list, we don't need any right padding at leat on small screens,
			but we do need it for larger screens else we run into the button.
	*/
	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 20px;
		}
	}

	/* Any links within this primary-nav class should not be main$Orange nor should be
			underlined. We also want some padding and background colors but only for the small
			screens.
	*/
	a {
		color: #fff;
		text-decoration: none;
		font-weight: 300;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba($mainBlue, .5);

		@mixin atMedium {
/*			padding: 12px 0;	Schiff recommended, but not needed -- things still line up. */
			font-size: 1rem;
			background-color: transparent;
		}

	}

}



/************************* End File: _primary-nav.css  **************************************/