/****************************************
	File:d:\users\mdc\documents\websites\trainning-site.dev.cc\app\assets\styles\modules\_social-icons.css

	Description: Supports social icons and theior sprites.

******************************************/
.social-icons {
	text-align: center;

	&__icon {
	background-color: $mainOrange;
	display: inline-block; /* the inlins part makes all icons sit on a single line,
														and the block part lets us assign individual heigths if
														necessary */
	/* Add some horiz. spacing */
	margin: 0 5px 5px 5px;

	/* Make all icons the same size */
	width: 33%;
	height: 72px;

	position: relative;

	@mixin atMedium {
		width: 72px;
		margin: 5px;
	}


		/* target any class of icon within this class, this gets the included span */
		.icon {
			display: block;	/* Causes icons to consume space the browser knows about */

			position: absolute;
			/* center icon image in the 72 X 72 space */
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}


/************** End File: 	_social-icons.css *****************/